{% extends "contactos/base.html" %} {% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">

        <form action="/update/{{ editCont[0] }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="nombre" name="nombre" value="{{ editCont[1] }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="apellido" name="apellido" value="{{ editCont[2] }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control " placeholder="direccion" name="direccion" value="{{ editCont[3] }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="cp" name="cp" value="{{ editCont[4]}}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control " placeholder="provincia " name="provincia" value="{{ editCont[5] }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="comunidad" name="comunidad" value="{{ editCont[6] }}">
                </div>
                <br>
                <br>

                <div class="form-group">
                    <br>
                    <br>
                    <button type="submit" class="btn btn-info btn-block">Modificar</button>
                </div>


            </div>
        </form>

    </div>


</div>
{% endblock %}