{% extends "contactos/base.html" %} {% block body %}

<div class="row">
    <div class="col-md-5">

        <!-- display un mensaje de flask que viene del server  -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        {% endfor %}

        {% endif %} {% endwith %}

        <!-- end mensaje flash  -->


        <div class="card card-body">
            <form action="/add_contacts" method="POST">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="apellido" name="apellido">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="direccion" name="direccion">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="cp" name="cp">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="provincia" name="provincia">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="comunidad" name="comunidad">
                    </div>
                    <br />
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Grabar</button>
                    </div>

                </div>
            </form>

        </div>

    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-medium">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in conta %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[5] }}</td>

                    <td>
                        <a href="/editar/{{ item [0]}}"><img src="static/img/pencil.png" alt="x" width="30px"
                                height="20px" /></a>|<a  class="btn-delete" href="/eliminar/{{ item [0] }}"><img src="static/img/trash.png"
                                alt="x" width="30px" height="20px" /></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>

{% endblock %}